.itemLista{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 16px 0px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono {
    border-radius: 50%;
    background: none;
    border: none;
    color: antiquewhite;
}

button{
    background-color: transparent;
    border: none;
}

.checkButton:hover{
    color: green;
}

.completado{
    text-decoration: line-through;
    color: #ee8a01;
}

.deleteButton:hover{
    color: red;
}